p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    color: grey;
    font-size: 1rem;
    padding: 1rem;
}